@import '../../styles/colors';

.category-filter-btn {
  display: inline-flex;
  background-color: rgb(0 0 0 / 5%);
  width: fit-content;
  height: 46px;
  color: #737373;
  margin: 5px;
  padding: 5px 20px;
  box-shadow: none;
  text-transform: none;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  transition: background-color .2s ease-out;
  cursor: pointer;

  i {
    line-height: inherit;
  }
  
  &:hover {
    box-shadow: none;
  }
  
  &.active {
    background-color: $blue-dark;
    color: #fff;
  }
}

