.about--header-image {
  min-height: 400px;
  background-image: url(../img/pics/about-1.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}