.about--header-image {
  padding-top: 53%;
  background-image: url(../img/pics/about-1.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 117% auto;
  border-radius: 30px;
}