
.about--illustration {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  
  &.--walt-disney-full {
    padding-top: 80%;
    background-image: url(../img/illustrations/walt-disney-full.svg);
  }
  
  &.--camila-bia {
    padding-top: 70%;
    background-image: url(../img/illustrations/camila-bia.svg);
  }
}