.about--illustration {
  min-height: 400px;
  background-image: url(../img/illustrations/walt-disney-full.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30px;
}