
/**
 * Avoid flickering
** -----------------------------*/

/* Apply visibility:hidden to Wow.js animations */
.wow {
  visibility: hidden;
}


%timing {
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

/**
 * fadeInUpSmall
** -----------------------------*/
.fadeInUpSmall {
  animation-name: fadeInUpSmall;
  @extend %timing;
}

@keyframes fadeInUpSmall {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/**
 * fadeInDownSmall
** -----------------------------*/
.fadeInDownSmall {
  animation-name: fadeInDownSmall;
  @extend %timing;
}

@keyframes fadeInDownSmall {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/**
 * fadeInRightSmall
** -----------------------------*/
.fadeInRightSmall {
  animation-name: fadeInRightSmall;
  @extend %timing;
}

@keyframes fadeInRightSmall {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



/**
 * fadeInLeftSmall
** -----------------------------*/
.fadeInLeftSmall {
  animation-name: fadeInLeftSmall;
  @extend %timing;
}

@keyframes fadeInLeftSmall {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



/**
 * fadeOutDownSmall
** -----------------------------*/
.fadeOutDownSmall {
  animation-name: fadeOutDownSmall;
  @extend %timing;
}

@keyframes fadeOutDownSmall {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(30px);
  }
}




/**
 * floatingUpDown
** -----------------------------*/
.floatingUpDown {
  animation-name: floatingUpDown;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  animation-iteration-count: infinite;
}

@keyframes floatingUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}




/**
 * starBlink
** -----------------------------*/
.starBlink {
  animation-name: starBlink;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  animation-iteration-count: infinite;
}

@keyframes starBlink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.meet-talento-ilustration {
  width: 100%;
  padding-top: 100%;
  background-image: url(../img/illustrations/meet-talento-illustration.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.meet-talento-ilustration.svg-animation {
  background-image: url(../img/animations/meet-talento-illustration-animated.svg);
}



.illustration-lines {
  background-image: url('../img/animations/arte-escritorio-1-talento-static.svg'),
    url('../img/animations/arte-escritorio-2-talento-static.svg');
  background-repeat: no-repeat;
}

.illustration-lines.svg-animation {
  background-image: url('../img/animations/arte-escritorio-1-talento-animated.svg'),
    url('../img/animations/arte-escritorio-2-talento-animated.svg');
  background-repeat: no-repeat;
}


@media all and (max-width: 480px) {
  .illustration-lines {
    background-image: none !important;
  }

  .meet-talento-ilustration.svg-animation {
    background-image: url(../img/illustrations/meet-talento-illustration.svg);
  }
}

@media all and (min-width: 481px) and (max-width: 600px) {
  .illustration-lines {
    background-image: none !important;
  }

  .meet-talento-ilustration.svg-animation {
    background-image: url(../img/illustrations/meet-talento-illustration.svg);
  }
}

@media all and (min-width: 600px) and (max-width: 782px) {
  .illustration-lines {
    background-image: none !important;
  }

  .meet-talento-ilustration.svg-animation {
    background-image: url(../img/illustrations/meet-talento-illustration.svg);
  }
}

@media all and (min-width: 783px) and (max-width: 1249px) {
  .illustration-lines {
    background-image: none !important;
  }
}

@media all and (min-width: 1250px) and (max-width: 1365px) {
  .illustration-lines {
    background-size: auto 50%, auto 50%;
    background-position: 5% 50%, 98% 50%;
  }
}

@media all and (min-width: 1366px) and (max-width: 1599px) {
  .illustration-lines {
    background-size: auto 60%, auto 50%;
    background-position: 3% 50%, 97% 50%;
  }
}

@media all and (min-width: 1600px) {
  .illustration-lines {
    background-size: auto 90%, auto 74%;
    background-position: 5% 50%, 95% 50%;
  }
}