// Backgrounds
$white: #FFF;
$blue: #517fc3;
$blue-hover: #6390d2;
$blue-dark: #2b3661;
$blue-darker: #182146;
$blue-light: #ebedff;
$blue-lighter: #f4f5ff;
$light-purple: #f4f5ff;
$grey: #c0c0c0;
$light-grey: #f9f9f9;
$accent-bg: #a8cb63;
$link-color: #4b8ff5;
$gradient-bg: linear-gradient(180deg, #f5ffff 0, #fff 65.23vh);
// Texts
$text-color: rgba(0, 0, 0, 0.87);
$text-color-hover: rgba(0, 0, 0, 0.5);
$title-color: $blue-dark;
$subtitle-color: rgba(0, 0, 0, 0.5);
$primary-color: $blue-dark;
$accent-color: $accent-bg;

/**
 * Background classes
 */

.bg--blue-dark {
  background-color: $blue-dark;
}

.text--white {
  color: $white;
}

.bg--blue-darker {
  background-color: $blue-darker;
}

.accent-bg {
  background-color: $accent-bg;
}

.bg--blue {
  background-color: $blue;
}

.bg--blue-light {
  background-color: $blue-light;
}

.bg--blue-lighter {
  background-color: $blue-lighter;
}

.bg--white {
  background-color: $white;
}

a.bg--blue:hover,
button.bg--blue:hover,
input[type="button"].bg--blue:hover {
  background-color: $blue-hover;
}

.primary-color {
  color: $primary-color;
}

.accent-color {
  color: $accent-color;
}

.bg--light-purple {
  background-color: $light-purple;
}

.bg--light-grey {
  background-color: $light-grey;
}

.bg--grey {
  background-color: $grey;
}

.text--grey {
  color: $grey;
}

.link-color {
  color: $link-color;
}

.text-color {
  color: $text-color;
}

.subtitle-color {
  color: $subtitle-color;
}

.card .title-color {
  color: $title-color;
}

.gradient-bg {
  background: $gradient-bg;
}
